extends layout

block content
    h1 Survey Page 5 for #{name}
    p #{question}

    form
        #form-group
        for item in options
            input(type= 'radio', name= 'question5' value= item required)
            | #{item}
        br
        button.btn.btn-primary(type= 'submit' formaction= '/question/4' formmethod= 'post') Prev
        button.btn.btn-primary(type= 'submit' formaction= '/question/last' formmethod= 'post') Submit